/* .logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
  width: 50px;
} */

.site-layout .site-layout-background {
  background: #fff;
}

.header-bar {
  background: #1497cc;
}

.headers-profileItem {
  padding: 10px;
  background: #f8f9fa;
  color: #1497cc;
}

#right-headers-group {
  float: right;
}