<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="style.css">
    <title>Shopping App</title>
</head>
<body>
    <div class="grid-container">
        <header class="header">
            <div class="brand">
                <button onclick="openMenu()">&#9776</button>
                <a href="index.html">Shopping App</a>
            </div>
            <div class="header-links">
                <a href="cart.html">Cart</a>
                <a href="signin.html">Sign in</a>
            </div>
        </header>
        <aside class="sidebar">
            <h3>Shopping Categories</h3>
            <button class="sidebar-close-btn" onclick="closeMenu()">X</button>
            <ul>
                <li>
                    <a href="index.html">Smart Phone</a>
                </li>
                <li>
                    <a href="index.html">Laptop</a>
                </li>
            </ul>
        </aside>
        <main class="main">
            <div class="content">
                <ul class="products">
                    <li>
                        <div class="product">
                            <img class="product-image" src="images/iphone-11-128gb-green-400x400.jpg" alt="Iphone 11 128GB green">
                            <div class="product-name">
                                <a href="product.html"> Iphone 11</a>
                            </div>
                            <div class="product-brand">Apple</div>
                            <div class="product-price">$899</div>
                            <div class="product-rating">4.5 stars (15 Reviews)</div>
                        </div> 
                    </li>
                    <li>
                        <div class="product">
                            <img class="product-image" src="images/iphone-11-128gb-green-400x400.jpg" alt="Iphone 11 128GB green">
                            <div class="product-name">
                                <a href="product.html"> Iphone 11</a>
                            </div>
                            <div class="product-brand">Apple</div>
                            <div class="product-price">$899</div>
                            <div class="product-rating">4.5 stars (15 Reviews)</div>
                        </div> 
                    </li>
                    <li>
                        <div class="product">
                            <img class="product-image" src="images/iphone-11-128gb-green-400x400.jpg" alt="Iphone 11 128GB green">
                            <div class="product-name">
                                <a href="product.html"> Iphone 11</a>
                            </div>
                            <div class="product-brand">Apple</div>
                            <div class="product-price">$899</div>
                            <div class="product-rating">4.5 stars (15 Reviews)</div>
                        </div> 
                    </li>
                    <li>
                        <div class="product">
                            <img class="product-image" src="images/iphone-11-128gb-green-400x400.jpg" alt="Iphone 11 128GB green">
                            <div class="product-name">
                                <a href="product.html"> Iphone 11</a>
                            </div>
                            <div class="product-brand">Apple</div>
                            <div class="product-price">$899</div>
                            <div class="product-rating">4.5 stars (15 Reviews)</div>
                        </div> 
                    </li>
                    <li>
                        <div class="product">
                            <img class="product-image" src="images/iphone-11-128gb-green-400x400.jpg" alt="Iphone 11 128GB green">
                            <div class="product-name">
                                <a href="product.html"> Iphone 11</a>
                            </div>
                            <div class="product-brand">Apple</div>
                            <div class="product-price">$899</div>
                            <div class="product-rating">4.5 stars (15 Reviews)</div>
                        </div> 
                    </li>
                    <li>
                        <div class="product">
                            <img class="product-image" src="images/iphone-11-128gb-green-400x400.jpg" alt="Iphone 11 128GB green">
                            <div class="product-name">
                                <a href="product.html"> Iphone 11</a>
                            </div>
                            <div class="product-brand">Apple</div>
                            <div class="product-price">$899</div>
                            <div class="product-rating">4.5 stars (15 Reviews)</div>
                        </div> 
                    </li>
                    <li>
                        <div class="product">
                            <img class="product-image" src="images/iphone-11-128gb-green-400x400.jpg" alt="Iphone 11 128GB green">
                            <div class="product-name">
                                <a href="product.html"> Iphone 11</a>
                            </div>
                            <div class="product-brand">Apple</div>
                            <div class="product-price">$899</div>
                            <div class="product-rating">4.5 stars (15 Reviews)</div>
                        </div> 
                    </li>
                    <li>
                        <div class="product">
                            <img class="product-image" src="images/iphone-11-128gb-green-400x400.jpg" alt="Iphone 11 128GB green">
                            <div class="product-name">
                                <a href="product.html"> Iphone 11</a>
                            </div>
                            <div class="product-brand">Apple</div>
                            <div class="product-price">$899</div>
                            <div class="product-rating">4.5 stars (15 Reviews)</div>
                        </div> 
                    </li>
                    <li>
                        <div class="product">
                            <img class="product-image" src="images/iphone-11-128gb-green-400x400.jpg" alt="Iphone 11 128GB green">
                            <div class="product-name">
                                <a href="product.html"> Iphone 11</a>
                            </div>
                            <div class="product-brand">Apple</div>
                            <div class="product-price">$899</div>
                            <div class="product-rating">4.5 stars (15 Reviews)</div>
                        </div> 
                    </li>
                    <li>
                        <div class="product">
                            <img class="product-image" src="images/iphone-11-128gb-green-400x400.jpg" alt="Iphone 11 128GB green">
                            <div class="product-name">
                                <a href="product.html"> Iphone 11</a>
                            </div>
                            <div class="product-brand">Apple</div>
                            <div class="product-price">$899</div>
                            <div class="product-rating">4.5 stars (15 Reviews)</div>
                        </div> 
                    </li>
                </ul>
            </div>
        </main>
        <footer class="footer">
            All right reserved.
        </footer>
    </div>
    <script>
        function openMenu() {
            document.querySelector(".sidebar").classList.add("open");
        }
        function closeMenu() {
            document.querySelector(".sidebar").classList.remove("open");
        }
    </script>
</body>
</html>